.article-item {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  flex-basis: 400px;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

span {
  margin: 1rem;
}
.comment-vote {
  justify-self: end;
}
.author {
  margin: 1rem;
}
