.section-comment-container {
  flex-basis: 300px;
}
.comment-container {
  padding: 5px;
  margin-top: 1rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.comment-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.delete-comment-btn {
  height: 2rem;
  margin-left: 1rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.section-comment-container h3 {
  margin-left: 1rem;
}
