.nav-bar {
  height: 5rem;
  background: linear-gradient(
    90deg,
    rgba(34, 63, 134, 1) 0%,
    rgba(109, 134, 232, 0.9981034650188201) 32%
  );
  color: rgb(219, 224, 245);
  margin-top: 2%;
  margin-bottom: 5%;
  box-shadow: 5px 5px 32px 5px rgba(165, 165, 165, 0.33);
  border: 1px solid rgb(3, 43, 129);
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}
.nav-header {
  margin-left: 1%;
  padding: 10px;
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
  color: antiquewhite;
}
.nav-topic {
  text-transform: capitalize;
}
.sort-container {
  padding: 10px;
  margin-bottom: 1rem;
}
.sort-select {
  padding: 5px;
  border: none;
  border-radius: 20px;
  height: 2rem;
  background: rgb(222, 210, 210);
  color: rgb(1, 1, 17);
  outline: none;
}
.sort-btn {
  margin-left: 2px;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  height: 2rem;
  background: rgb(222, 210, 210);
  color: rgb(66, 66, 223);
}
.user-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
