.breaking-news-container {
  display: flex;
}
.breaking-news-container > h3 {
  padding-right: 1rem;
  background-color: rgb(27, 52, 92);
  color: white;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}
.wrapper {
  overflow-x: hidden;
}
.target {
  display: flex;
  animation: rightToLeft 30s linear infinite;
  font-family: sans-serif;
}
.target > li {
  white-space: nowrap;
  padding: 8px;
  height: 10px;
}
@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.target:hover {
  animation-play-state: paused;
}

.nav-bar {
  min-height: 5rem;
  background: linear-gradient(
    90deg,
    rgb(21, 21, 79) 0%,
    rgba(14, 38, 135, 0.998) 32%
  );

  margin-bottom: 1%;
  box-shadow: 5px 5px 32px 5px rgba(165, 165, 165, 0.33);
  border: 1px solid rgb(3, 43, 129);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.nav-header {
  margin-left: 1%;
  padding: 10px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.nav-topic {
  text-transform: capitalize;
}
.sort-container {
  display: flex;
}
.sort-select {
  padding: 5px;
  border: none;
  border-radius: 20px;
  height: 2rem;
  background: white;
  color: rgb(10, 10, 104);
  font-weight: 600;
  outline: none;
}
.sort-btn {
  margin-left: 2px;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  height: 2rem;
  background: white;
  color: rgb(10, 10, 104);
}
.user-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.user-icon {
  text-align: center;
}
.signed-user {
  padding-right: 5px;
  color: white;
}

@media (max-width: 700px) {
  .nav-bar {
    flex-direction: column;
  }
  .nav-links {
    gap: 8px;
    flex-direction: column;
    align-items: center;
  }
}
